html {
  box-sizing: border-box;
  background-color: #cfcfcf;
}

body {
  margin: 0 auto;
  font-size: 13px;
  width: 400px;
  font-family: "Roboto", sans-serif;
}

.feed {
  width: 400px;
}

.container {
  background-color: white;
  width: 400px;
  border-radius: 0.5%;
  margin-top: 40px;
  margin-bottom: 40px;
}

.top {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 15px;
}

.user {
  padding: 0 0 0 10px;
}

.space {
  flex-grow: 1;
}

.picture img {
  width: 100%;
  height: 100%;
}

.bottom {
  margin: 15px;
}

.icons,
.fa-solid fa-at,
.fa-solid fa-ellipsis-vertical {
  font-size: 25px;
}
.fa-bookmark {
  float: right;
}

.liked {
  display: flex;
  flex-direction: row;
  justify-content: left;
  margin: 15px auto;
}

.caption {
  padding: 0 0 25px 0;
}

/* @import "~bootstrap/dist/css/bootstrap.min.css";  */
